In [9]:
from analyzer import TimerowForAnalise
from meteostat import Point, Daily
import pandas as pd
from datetime import datetime

In [2]:
# Точка,в которой смотрим температуру - в данном случае Париж
paris = Point(48.8566, 2.3522)

# Временной диапазон
start = datetime(2024, 9, 1)
end = datetime(2024, 10, 1)

# Получение данных о погоде
data = Daily(paris, start, end).fetch()

In [3]:
# Преобразуем индексы в столбцы с датами, чтобы избежать предупреждений
data.reset_index(inplace=True)

# 'tavg' - температура
temperature_data = data['tavg'].to_numpy()

# Создаем анализатор
analyzer = TimerowForAnalise(temperature_data)

In [4]:
# Вычисляем скользящее среднее
results_df = analyzer.get_results()

Вызов функции: save_to_dataframe с аргументами: (<analyzer.functions_for_analysis.functions_module.TimerowForAnalise object at 0x000002045FC51640>, 0     23.1
1     21.3
2     20.0
3     19.3
4     15.8
5     16.4
6     18.5
7     16.4
8     16.7
9     15.1
10    14.6
11    11.3
12    11.4
13    11.4
14    12.0
15    14.3
16    15.9
17    18.1
18    19.1
19    16.4
20    17.3
21    16.9
22    15.4
23    14.9
24    14.2
25    16.5
26    13.0
27    10.5
28     9.6
29    14.7
30    13.8
dtype: float64, 'Temperature') {}
Результат:     Temperature
0          23.1
1          21.3
2          20.0
3          19.3
4          15.8
5          16.4
6          18.5
7          16.4
8          16.7
9          15.1
10         14.6
11         11.3
12         11.4
13         11.4
14         12.0
15         14.3
16         15.9
17         18.1
18         19.1
19         16.4
20         17.3
21         16.9
22         15.4
23         14.9
24         14.2
25         16.5
26         13.0
27         10.5
28          9.6
29         14.7
30         13.8
Вызов функции: calculate_moving_average с аргументами: (<analyzer.functions_for_analysis.functions_module.TimerowForAnalise object at 0x000002045FC51640>,) {}
Результат: 0           NaN
1           NaN
2     21.466667
3     20.200000
4     18.366667
5     17.166667
6     16.900000
7     17.100000
8     17.200000
9     16.066667
10    15.466667
11    13.666667
12    12.433333
13    11.366667
14    11.600000
15    12.566667
16    14.066667
17    16.100000
18    17.700000
19    17.866667
20    17.600000
21    16.866667
22    16.533333
23    15.733333
24    14.833333
25    15.200000
26    14.566667
27    13.333333
28    11.033333
29    11.600000
30    12.700000
dtype: float64
Вызов функции: save_to_dataframe с аргументами: (<analyzer.functions_for_analysis.functions_module.TimerowForAnalise object at 0x000002045FC51640>, 0           NaN
1           NaN
2     21.466667
3     20.200000
4     18.366667
5     17.166667
6     16.900000
7     17.100000
8     17.200000
9     16.066667
10    15.466667
11    13.666667
12    12.433333
13    11.366667
14    11.600000
15    12.566667
16    14.066667
17    16.100000
18    17.700000
19    17.866667
20    17.600000
21    16.866667
22    16.533333
23    15.733333
24    14.833333
25    15.200000
26    14.566667
27    13.333333
28    11.033333
29    11.600000
30    12.700000
dtype: float64, 'Moving average') {}
Результат:     Moving average
0              NaN
1              NaN
2        21.466667
3        20.200000
4        18.366667
5        17.166667
6        16.900000
7        17.100000
8        17.200000
9        16.066667
10       15.466667
11       13.666667
12       12.433333
13       11.366667
14       11.600000
15       12.566667
16       14.066667
17       16.100000
18       17.700000
19       17.866667
20       17.600000
21       16.866667
22       16.533333
23       15.733333
24       14.833333
25       15.200000
26       14.566667
27       13.333333
28       11.033333
29       11.600000
30       12.700000
Вызов функции: calculate_differential с аргументами: (<analyzer.functions_for_analysis.functions_module.TimerowForAnalise object at 0x000002045FC51640>,) {}
Результат: 0     NaN
1    -1.8
2    -1.3
3    -0.7
4    -3.5
5     0.6
6     2.1
7    -2.1
8     0.3
9    -1.6
10   -0.5
11   -3.3
12    0.1
13    0.0
14    0.6
15    2.3
16    1.6
17    2.2
18    1.0
19   -2.7
20    0.9
21   -0.4
22   -1.5
23   -0.5
24   -0.7
25    2.3
26   -3.5
27   -2.5
28   -0.9
29    5.1
30   -0.9
dtype: float64
Вызов функции: save_to_dataframe с аргументами: (<analyzer.functions_for_analysis.functions_module.TimerowForAnalise object at 0x000002045FC51640>, 0     NaN
1    -1.8
2    -1.3
3    -0.7
4    -3.5
5     0.6
6     2.1
7    -2.1
8     0.3
9    -1.6
10   -0.5
11   -3.3
12    0.1
13    0.0
14    0.6
15    2.3
16    1.6
17    2.2
18    1.0
19   -2.7
20    0.9
21   -0.4
22   -1.5
23   -0.5
24   -0.7
25    2.3
26   -3.5
27   -2.5
28   -0.9
29    5.1
30   -0.9
dtype: float64, 'Differential') {}
Результат:     Differential
0            NaN
1           -1.8
2           -1.3
3           -0.7
4           -3.5
5            0.6
6            2.1
7           -2.1
8            0.3
9           -1.6
10          -0.5
11          -3.3
12           0.1
13           0.0
14           0.6
15           2.3
16           1.6
17           2.2
18           1.0
19          -2.7
20           0.9
21          -0.4
22          -1.5
23          -0.5
24          -0.7
25           2.3
26          -3.5
27          -2.5
28          -0.9
29           5.1
30          -0.9
Вызов функции: calculate_autocorrelation с аргументами: (<analyzer.functions_for_analysis.functions_module.TimerowForAnalise object at 0x000002045FC51640>,) {}
Результат: 1     0.793288
2     0.567837
3     0.348135
4     0.129705
5    -0.035790
6    -0.154227
7    -0.264774
8    -0.298106
9    -0.407072
10   -0.461907
11   -0.421895
12   -0.216120
13   -0.018172
14    0.289607
15    0.635436
16    0.715530
17    0.752184
18    0.625330
19    0.588634
20    0.529415
21    0.403896
22    0.449905
23    0.678555
24    0.482103
25    0.089903
26   -0.344272
27   -0.771429
28   -0.827127
29    1.000000
30         NaN
dtype: float64
Вызов функции: save_to_dataframe с аргументами: (<analyzer.functions_for_analysis.functions_module.TimerowForAnalise object at 0x000002045FC51640>, 1     0.793288
2     0.567837
3     0.348135
4     0.129705
5    -0.035790
6    -0.154227
7    -0.264774
8    -0.298106
9    -0.407072
10   -0.461907
11   -0.421895
12   -0.216120
13   -0.018172
14    0.289607
15    0.635436
16    0.715530
17    0.752184
18    0.625330
19    0.588634
20    0.529415
21    0.403896
22    0.449905
23    0.678555
24    0.482103
25    0.089903
26   -0.344272
27   -0.771429
28   -0.827127
29    1.000000
30         NaN
dtype: float64, 'Autocorrelation') {}
Результат:     Autocorrelation
1          0.793288
2          0.567837
3          0.348135
4          0.129705
5         -0.035790
6         -0.154227
7         -0.264774
8         -0.298106
9         -0.407072
10        -0.461907
11        -0.421895
12        -0.216120
13        -0.018172
14         0.289607
15         0.635436
16         0.715530
17         0.752184
18         0.625330
19         0.588634
20         0.529415
21         0.403896
22         0.449905
23         0.678555
24         0.482103
25         0.089903
26        -0.344272
27        -0.771429
28        -0.827127
29         1.000000
30              NaN
Вызов функции: find_maxime с аргументами: (<analyzer.functions_for_analysis.functions_module.TimerowForAnalise object at 0x000002045FC51640>,) {}
Результат: 6     18.5
8     16.7
18    19.1
20    17.3
25    16.5
29    14.7
dtype: float64
Вызов функции: save_to_dataframe с аргументами: (<analyzer.functions_for_analysis.functions_module.TimerowForAnalise object at 0x000002045FC51640>, 6     18.5
8     16.7
18    19.1
20    17.3
25    16.5
29    14.7
dtype: float64, 'Max') {}
Результат:      Max
6   18.5
8   16.7
18  19.1
20  17.3
25  16.5
29  14.7
Вызов функции: find_minimum с аргументами: (<analyzer.functions_for_analysis.functions_module.TimerowForAnalise object at 0x000002045FC51640>,) {}
Результат: 4     15.8
7     16.4
11    11.3
19    16.4
24    14.2
28     9.6
dtype: float64
Вызов функции: save_to_dataframe с аргументами: (<analyzer.functions_for_analysis.functions_module.TimerowForAnalise object at 0x000002045FC51640>, 4     15.8
7     16.4
11    11.3
19    16.4
24    14.2
28     9.6
dtype: float64, 'Min') {}
Результат:      Min
4   15.8
7   16.4
11  11.3
19  16.4
24  14.2
28   9.6
Вызов функции: decompose_time_series с аргументами: (<analyzer.functions_for_analysis.functions_module.TimerowForAnalise object at 0x000002045FC51640>,) {'period': 12}
Результат:         Trend  Seasonal  Residual
0         NaN -1.800521       NaN
1         NaN -3.231771       NaN
2         NaN -2.656771       NaN
3         NaN -0.456771       NaN
4         NaN  1.034896       NaN
5         NaN  3.051563       NaN
6   16.887500  2.728646 -1.116146
7   15.987500  0.614062 -0.201562
8   15.241667  1.459896 -0.001562
9   14.700000  0.789062 -0.389062
10  14.495833  0.101563  0.002604
11  14.570833 -1.633854 -1.636979
12  14.666667 -1.800521 -1.466146
13  14.691667 -3.231771 -0.059896
14  14.716667 -2.656771 -0.059896
15  14.816667 -0.456771 -0.059896
16  14.925000  1.034896 -0.059896
17  15.108333  3.051563 -0.059896
18  15.375000  2.728646  0.996354
19  15.704167  0.614062  0.081771
20  15.958333  1.459896 -0.118229
21  15.841667  0.789062  0.269271
22  15.420833  0.101563 -0.122396
23  15.016667 -1.633854  1.517187
24  14.654167 -1.800521  1.346354
25        NaN -3.231771       NaN
26        NaN -2.656771       NaN
27        NaN -0.456771       NaN
28        NaN  1.034896       NaN
29        NaN  3.051563       NaN
30        NaN  2.728646       NaN

RuntimeWarning: Degrees of freedom <= 0 for slice
RuntimeWarning: divide by zero encountered in divide
RuntimeWarning: invalid value encountered in multiply

In [5]:
# Объединяем исходные данные и результаты
results_df = pd.concat([data['time'], results_df], axis=1)

In [6]:
results_df

,time,Temperature,Moving average,Differential,Autocorrelation,Max,Min,Trend,Seasonal,Residual
0,2024-09-01,23.1,NaN,NaN,NaN,NaN,NaN,NaN,-1.800521,NaN
1,2024-09-02,21.3,NaN,-1.8,0.793288,NaN,NaN,NaN,-3.231771,NaN
2,2024-09-03,20.0,21.466667,-1.3,0.567837,NaN,NaN,NaN,-2.656771,NaN
3,2024-09-04,19.3,20.200000,-0.7,0.348135,NaN,NaN,NaN,-0.456771,NaN
4,2024-09-05,15.8,18.366667,-3.5,0.129705,NaN,15.8,NaN,1.034896,NaN
5,2024-09-06,16.4,17.166667,0.6,-0.035790,NaN,NaN,NaN,3.051563,NaN
6,2024-09-07,18.5,16.900000,2.1,-0.154227,18.5,NaN,16.887500,2.728646,-1.116146
7,2024-09-08,16.4,17.100000,-2.1,-0.264774,NaN,16.4,15.987500,0.614062,-0.201562
8,2024-09-09,16.7,17.200000,0.3,-0.298106,16.7,NaN,15.241667,1.459896,-0.001562
9,2024-09-10,15.1,16.066667,-1.6,-0.407072,NaN,NaN,14.700000,0.789062,-0.389062
10,2024-09-11,14.6,15.466667,-0.5,-0.461907,NaN,NaN,14.495833,0.101563,0.002604
11,2024-09-12,11.3,13.666667,-3.3,-0.421895,NaN,11.3,14.570833,-1.633854,-1.636979
12,2024-09-13,11.4,12.433333,0.1,-0.216120,NaN,NaN,14.666667,-1.800521,-1.466146
13,2024-09-14,11.4,11.366667,0.0,-0.018172,NaN,NaN,14.691667,-3.231771,-0.059896
14,2024-09-15,12.0,11.600000,0.6,0.289607,NaN,NaN,14.716667,-2.656771,-0.059896
15,2024-09-16,14.3,12.566667,2.3,0.635436,NaN,NaN,14.816667,-0.456771,-0.059896
16,2024-09-17,15.9,14.066667,1.6,0.715530,NaN,NaN,14.925000,1.034896,-0.059896
17,2024-09-18,18.1,16.100000,2.2,0.752184,NaN,NaN,15.108333,3.051563,-0.059896
18,2024-09-19,19.1,17.700000,1.0,0.625330,19.1,NaN,15.375000,2.728646,0.996354
19,2024-09-20,16.4,17.866667,-2.7,0.588634,NaN,16.4,15.704167,0.614062,0.081771
20,2024-09-21,17.3,17.600000,0.9,0.529415,17.3,NaN,15.958333,1.459896,-0.118229
21,2024-09-22,16.9,16.866667,-0.4,0.403896,NaN,NaN,15.841667,0.789062,0.269271
22,2024-09-23,15.4,16.533333,-1.5,0.449905,NaN,NaN,15.420833,0.101563,-0.122396
23,2024-09-24,14.9,15.733333,-0.5,0.678555,NaN,NaN,15.016667,-1.633854,1.517187
24,2024-09-25,14.2,14.833333,-0.7,0.482103,NaN,14.2,14.654167,-1.800521,1.346354
25,2024-09-26,16.5,15.200000,2.3,0.089903,16.5,NaN,NaN,-3.231771,NaN
26,2024-09-27,13.0,14.566667,-3.5,-0.344272,NaN,NaN,NaN,-2.656771,NaN
27,2024-09-28,10.5,13.333333,-2.5,-0.771429,NaN,NaN,NaN,-0.456771,NaN
28,2024-09-29,9.6,11.033333,-0.9,-0.827127,NaN,9.6,NaN,1.034896,NaN
29,2024-09-30,14.7,11.600000,5.1,1.000000,14.7,NaN,NaN,3.051563,NaN
30,2024-10-01,13.8,12.700000,-0.9,NaN,NaN,NaN,NaN,2.728646,NaN

In [12]:
# Сохраняем DataFrame в Excel
with pd.ExcelWriter('results.xlsx', mode='w', engine='openpyxl') as writer:
    results_df.to_excel(writer, sheet_name='Результаты', index=False)
    
print(f"DataFrame сохранен в файл: {'results.xlsx'}")

DataFrame сохранен в файл: results.xlsx